@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
@{
    ViewData["Title"] = "Register";
}

<div class="card">
    <div class="card-body">
        <form asp-controller="Registration" asp-action="Register" method="post">
            <div class="form-row">
                <div class="col">
                    <label>@ViewLocalizer["Name"]</label>
                    <input type="text" class="form-control" id="Name">
                </div>
                <div class="col">
                    <label>@ViewLocalizer["City"]</label>
                    <input type="text" class="form-control" id="City">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-row">
                <div class="col">
                    <button style="margin-top: 10px" class="btn btn-success" type="submit"> Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>